.Heder{ height:100px; background:#999; font-family:"Times New Roman", Times, serif; text-align:center; font-size:30px; padding-top:20px; color:#03C}
.Mid_part{height:500px;}

Footer{background:#00F; hieght:100px;}